body{
	  background-color: #1C1C1C;
	  color:#f1f1f1;
}

.font-yellow { color: #FDC100; }

.carousel-item > img{
	width: 100%;
	height: 100vh;
}
#Explore-section{
	background-image: url(./img/contact_bg.png);
	background-attachment: fixed;
	background-position: center;
}
.card-img-bottom {
	color: #fff;
	height: 200px;
	width: 200px;
	background: url(./img/res-1.png) center no-repeat;
	background-size: cover;
}
div.main-content{
	display: inline-block;
}
.main-content img {
	float: left;
	padding: 0 10px 10px 0;
}
.main-content{
	border: 1px solid #c3c3c3;
	padding: 10px 10px 10px 10px;
	-moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
	box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.main-content-> div{
	display: inline-block;
}

.services-section{
	vertical-align: center;
}

div#first-block{
	margin-top:15px;
	width: 100%;
	height:100vh;
	background: url('./img/Architecture/archbg.jpg') no-repeat;
	background-size: 100% 100% !important;}
div#first-block > * {color: #fff;}
div#first-block > div:first-child {padding-top: 40vh;}
div#first-block h4 {padding-left: 20%;}
div#first-block h1 {font-size: 4rem;}

.card {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* Section - Footer*/
section.footer > .col-lg-12 {background-color: #282828;padding-top: 10px; padding-bottom: 10px;}
section.footer > .col-lg-12 > .col-lg-6:nth-child(1) > a {color: #FDC100;padding-right: 20px;border-right: 1px solid #FDC100;padding-left: 20px;font-size: 14px;}
section.footer > .col-lg-12 > .col-lg-6:nth-child(1) > a:nth-child(1) {padding-left: 0;}
section.footer > .col-lg-12 > .col-lg-6:nth-child(1) > a:last-child {border: none;}
section.footer .fa {font-size: 26px;color: #FDC100}
section.footer > .col-lg-12 > .col-lg-6:nth-child(2) > a {padding-left: 20px;padding-right: 10px;float: right}
section.footer > .col-lg-12 > .col-lg-6:nth-child(2) {float: right;}
section.footer > .col-lg-12 > .col-lg-6 {display: inline-block;}
section.footer > .col-lg-12 {display: inline-block}

/* Site Map */
section#site-map{margin: 50px 0;}

/*Our Works*/
section#works ul > li {
	background-color: #1c1c1c
}

/* Background - Wall image */
div#first-block.Architecture { background: url('./img/Architecture/archbg.jpg') no-repeat; }
div#first-block.Gardening { background: url('./img/Gardening/gardbg.jpg') no-repeat; }
div#first-block.Electrical { background: url('./img/Electrical/Elec3.jpg') no-repeat; }
div#first-block.FalseCeling { background: url('./img/FalseCeling/falsbg.jpg') no-repeat; }
div#first-block.ModularKitchen { background: url('./img/ModularKitchen/modbg.jpg') no-repeat; }
div#first-block.WoodWorks { background: url('./img/WoodWorks/wood5.jpg') no-repeat; }
div#first-block.Flooring { background: url('./img/Flooring/floorbg.jpg') no-repeat; }
div#first-block.Windows { background: url('./img/Windows/windowbg.jpg') no-repeat; }
div#first-block.LED { background: url('./img/LED/ledbg.jpg') no-repeat; }
div#first-block.Automation { background: url('./img/Automation/autombg.jpg') no-repeat; }
div#first-block.Glass { background: url('./img/Glass/glassbg.jpg') no-repeat; }
div#first-block.Plumbing { background: url('./img/Plumbing/plumbg.jpg') no-repeat; }
div#first-block.WallPainting { background: url('./img/WallPainting/wallpbg.jpg') no-repeat; }
div#first-block.MetalWorks { background: url('./img/MetalWorks/metalbg.jpg') no-repeat; }
div#first-block.Curtains { background: url('./img/Curtains/curtainbg.jpg') no-repeat; }
div#first-block.CCTV { background: url('./img/CCTV/cctvbg.jpg') no-repeat; }
div#first-block.SolarPower { background: url('./img/SolarPower/solarbg.jpg') no-repeat; }
div#first-block.Roofing { background: url('./img/Roofing/roofbg.jpg') no-repeat; }

@media screen and (max-width: 576px) {
	section.footer > .col-lg-12 > .col-lg-6:nth-child(1) {
		display: none;
	}

	section.footer > .col-lg-12 > .col-lg-6:nth-child(1) > a:nth-child(2){
		font-size: 10px;
	}
	section.footer > .col-lg-12 > .col-lg-6:nth-child(2) > a{
		float: none;padding-left: 13px;
	}
}

@media screen and (max-width: 767px) {
    .tz-gallery > .row > .col-md-4:not(:first-child) { margin-top: 1rem; }
	/* Background - Wall image */
	div#first-block.Architecture { background: url('./img/Architecture/arch5.jpg') no-repeat; }
	div#first-block.Gardening { background: url('./img/Gardening/gard3.jpg') no-repeat; }

}